<ng-container *ngIf="!isNew">
    <div class="chats" *ngFor="let message of messages">
        <div class="message" [ngClass]="message.from == 'ai' ? 'response' : 'sent'">
            <img src="assets/images/noimg_avatar.png" alt="">
            <span class="user-query">{{message.message}}</span>
        </div>
    </div>
</ng-container>

<div class="loader logo" *ngIf="isLoading">
    <app-dotted-loader></app-dotted-loader>
</div>

<div *ngIf="messages.length == 0 && !isLoading || isNew" class="empty">
    <div class="logo">
        <span class="main-logo">Academix</span>
        <span class="sub-logo">Assist</span>
        <span style="margin-top: 15px; font-size: 18px; color: #6E758C;">Get all academics information with ease. Start
            asking</span>
    </div>
</div>
