.nav-bar {
    width: 100%;
    // height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px #f8c1ad solid;

    .logo {
        display: flex;
        flex-direction: column;
        margin: 0 32px;
        cursor: pointer;

        .main-logo {
            font-size: 18px;
            font-weight: 600;
            margin-bottom: 2px;
        }

        .sub-logo {
            font-size: 15px;
            font-weight: 600;
            color: #EB5B28;
            margin-left: 40px;
        }
    }

    .links {
        display: flex;
        align-items: center;
        margin: 0 32px;

        .link-items {

            list-style: none;
            display: flex;

            .link-item {

                display: flex;
                align-items: center;
                gap: 5px;
                font-size: 16px;
                cursor: pointer;
                
                img {
                    width: 15%;
                }
            }

            .sign-up {
                font-weight: 500;
                margin-right: 30px;
                margin-left: 30px;
                background-color: #EB5B28;
                color: white;
                padding: 10px 20px;
                border-radius: 6px;
                cursor: pointer;
            }
        }
    }
}

.active {
    color: #EB5B28;
    font-weight: 600;
}


// Modal
.header {
    margin-top: 6px;

    .close {
        margin-left: 95%;
        cursor: pointer;
    }

    h2 {
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 150%;
        letter-spacing: -0.019em;
        color: #3C3D3C;
        margin-bottom: 12px;
        margin-top: -20px;
    }

    p {
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 18px;
        color: #8E94A6;
        margin-bottom: 32px;
    }
}

.modal-form {

    width: 100%;

    .form-controls {
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;

        label {
            margin-bottom: 6px;
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 20px;
            color: #585958;
        }

        input {
            padding: 1rem;
            background: #FFFFFF;
            border: 1px solid #D6D6D6;
            box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
            border-radius: 8px;
            outline: none;
        }
    }

    .btn {
        width: 100%;
        background: #EB5B28;
        box-shadow: 0px 8px 16px rgba(0, 30, 84, 0.16);
        border-radius: 8px;
        padding: 15px 151.5px;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        text-align: center;
        letter-spacing: -0.019em;
        color: #FFFFFF;
        border: none;
        cursor: pointer;
        margin-bottom: 32px;

        &:hover {
            opacity: 0.8;
        }
    }
}

.others {
    p {
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 24px;
        color: #344054;
        margin-bottom: 65px;

        span {
            color: #EB5B28;
            cursor: pointer;
        }
    }
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    img {
        margin-bottom: 20px;
        width: 30%;
    }

    p {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        color: #667085;
        margin-bottom: 32px;
    }

    .btn {
        width: 100%;
        background: #EB5B28;
        box-shadow: 0px 8px 16px rgba(0, 30, 84, 0.16);
        border-radius: 8px;
        padding: 10px 89px;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        text-align: center;
        letter-spacing: -0.019em;
        color: #FFFFFF;
        border: none;
        cursor: pointer;
        margin-bottom: 32px;

        &:hover {
            opacity: 0.8;
        }
    }
}
