.container {
    padding: 50px 65px;
    padding-bottom: 0px;
    max-width: 100vw;

    .banner {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .banner-heading {
            display: flex;
            align-items: center;
            flex-direction: column;

            .title {
                width: 904px;
                font-style: normal;
                font-weight: 500;
                font-size: 64px;
                line-height: 74px;
                text-align: center;
                letter-spacing: -0.005em;
                color: #1E294D;
                margin-bottom: 16px;
            }

            .desc {
                font-style: normal;
                font-weight: 400;
                font-size: 24px;
                line-height: 36px;
                text-align: center;
                color: #585958;
                margin-bottom: 44px;
            }

            .btns {

                display: flex;
                align-items: center;
                gap: 14px;
                flex-wrap: wrap;
                margin-bottom: 80px;

                .btn {
                    padding: 15px 40px;
                    width: 202px;
                    height: 54px;
                    background: #EB5B28;
                    box-shadow: 0px 8px 16px rgba(0, 30, 84, 0.16);
                    border-radius: 8px;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 150%;
                    text-align: center;
                    letter-spacing: -0.019em;
                    color: #FFFFFF;
                    border: none;
                    cursor: pointer;
                }

                .outlined {
                    border: 1px solid #1E294D;
                    filter: drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.02));
                    border-radius: 8px;
                    color: #1E294D;
                    background: transparent;
                }
            }
        }

        .display-img {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 147px;
            width: 100%;

            img {
                width: 70%;
                border: 15px rgb(15, 15, 22) solid;
                border-radius: 30px;
            }
        }
    }

    .accessibilty {
        margin: 0 -65px;
        padding: 0px 65px;
        padding-top: 50px;
        background: #111827;
        color: #D4D6DD;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .accessibility-title {
            font-style: normal;
            font-weight: 500;
            font-size: 48px;
            line-height: 62px;
            text-align: center;
            letter-spacing: -0.005em;
            color: #D4D6DD;
            margin-bottom: 50px;
        }

        .accessibilty-content {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 25%;
            margin-bottom: 64px;

            .right,
            .left {
                display: flex;
                gap: 39px;

                .writeups {
                    display: flex;
                    flex-direction: column;
                    gap: 34px;

                    .writeup {
                        display: flex;
                        flex-direction: column;
                        gap: 14px;
                        text-align: left;

                        .writeup-title {
                            font-style: normal;
                            font-weight: 700;
                            font-size: 20px;
                            line-height: 28px;
                            letter-spacing: -0.02em;
                            color: #EB5B28;
                            margin-bottom: 14px;
                        }

                        .writeup-value {
                            font-style: normal;
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 24px;
                            font-feature-settings: 'salt' on;
                            color: #D4D6DD;
                        }
                    }

                    .left {
                        text-align: left;
                    }
                }
            }
        }

        .accessibilty-footer {
            display: flex;
            flex-wrap: wrap;
            gap: 18px;
        }
    }

    .sub-detail {
        padding: 0 50px;
        margin-top: 90px;
        display: flex;
        flex-wrap: wrap;
        gap: 77px;

        .detail {
            width: 441px;

            .intro {
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                color: #EB5B28;
            }

            .header {

                h1 {
                    font-style: normal;
                    font-weight: 700;
                    font-size: 32px;
                    line-height: 54px;
                    letter-spacing: -0.019em;
                    color: #3C3D3C;
                    margin-bottom: 16px;
                }

                p {
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 24px;
                    color: #8E94A6;
                    margin-bottom: 20px;
                }
            }

            .sub-content {
                display: flex;
                flex-direction: column;

                .list {
                    display: flex;
                    align-items: center;
                    margin-bottom: 24px;

                    img {
                        margin-right: 12px;
                    }

                    span {
                        font-style: normal;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 22px;

                        color: #6E758C;
                    }
                }
            }
        }

        .pricing {
            width: 536px;
            background: #F8F8F9;
            // opacity: 0.45;
            border: 1px solid #D6D6D6;
            box-shadow: 0px 12px 16px -4px rgba(16, 24, 40, 0.08), 0px 4px 6px -2px rgba(16, 24, 40, 0.03);
            border-radius: 12px;
            padding: 39px 41px;

            .tabs {
                display: flex;
                align-items: center;
                padding: 0 100px;

                span {
                    font-style: normal;
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 24px;
                    color: #8C8C8C;
                    cursor: pointer;

                    &:first-child {
                        margin-right: 175px;
                    }

                }

                span.active {
                    font-style: normal;
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 24px;
                    color: #363736;
                    position: relative;

                    &::after {
                        content: '';
                        position: absolute;
                        bottom: -12px;
                        right: 5%;
                        transform: translateX(5%);
                        width: 80px;
                        height: 3px;
                        background-color: #EB5B28;
                    }
                }
            }

            .pricing-body {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                span {
                    font-style: normal;
                    font-weight: 500;
                    font-size: 96px;
                    line-height: 144px;
                    color: #363736;
                    margin-bottom: 12px;
                }

                .description {
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 18px;
                    color: #8C8C8C;
                }

                .annual-desc {
                    margin-bottom: 69px;
                }

                .last {
                    font-style: normal;
                    font-weight: 700;
                    font-size: 12px;
                    line-height: 18px;
                    color: #EB5B28;
                    margin-top: 16px;
                    margin-bottom: 69px;
                    cursor: pointer;
                }

            }

            .footer {
                width: 100%;

                .btn {
                    width: inherit;
                    background: #EB5B28;
                    box-shadow: 0px 8px 16px rgba(0, 30, 84, 0.16);
                    border-radius: 8px;
                    border: none;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 150%;
                    text-align: center;
                    letter-spacing: -0.019em;
                    color: #FFFFFF;
                    padding: 15px 152px;

                    &:hover {
                        cursor: pointer;
                        opacity: 0.9;
                    }
                }
            }
        }

    }

    .main-footer {
        background: #111827;
        margin: 0 -65px;
        margin-top: 50px;
        padding: 50px 110px;
        color: #D4D6DD;
        display: flex;
        // align-items: center;
        justify-content: space-between;
        gap: 155px;

        .quick-links {
            display: flex;

            .link-group {
                display: flex;
                flex-direction: column;
                margin-right: 86px;

                .head {
                    font-style: normal;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 24px;
                    text-transform: uppercase;
                    font-feature-settings: 'salt' on;
                    color: #EB5B28;
                    margin-bottom: 12px;
                }

                .link {
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    text-transform: capitalize;
                    line-height: 24px;
                    font-feature-settings: 'salt' on;
                    color: #BFC5ED;
                    cursor: pointer;
                    margin-bottom: 24px;
                }
            }
        }

        .footer-home {
            display: flex;
            flex-direction: column;
            gap: 55px;

            .logo {
                display: flex;
                flex-direction: column;
                // margin: 0 32px;
        
                .main-logo {
                    font-size: 25px;
                    font-weight: 600;
                    margin-bottom: 2px;
                    color: white;
                }
        
                .sub-logo {
                    font-size: 15px;
                    font-weight: 600;
                    color: #EB5B28;
                    margin-left: 70px;
                }
            }

            .form-control {

                label {
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 24px;
                    font-feature-settings: 'salt' on;
                    color: #68748D;

                }

                .form-holder {
                    padding: 4px;
                    padding-left: 14px;
                    padding-right: -10px;
                    margin-top: 12px;
                    background: rgba(27, 35, 95, 0.5);
                    // opacity: 0.3;
                    border: 1px solid #2D3A9F;
                    border-radius: 8px;

                    input {
                        // padding: 15px 14px;
                        background: transparent;
                        font-style: normal;
                        font-weight: 400;
                        font-size: 12px;
                        border: none;
                        outline: none;
                        line-height: 24px;
                        font-feature-settings: 'salt' on;
                        color: #7E89A0;
                    }

                    button {
                        padding: 10px 19px;
                        background: #EB5B28;
                        box-shadow: 0px 8px 16px rgba(0, 30, 84, 0.16);
                        border-radius: 8px;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 150%;
                        border: none;
                        text-align: center;
                        letter-spacing: -0.019em;
                        color: #FFFFFF;
                        cursor: pointer;
                    }
                }
            }
        }
    }

}

// Modal
.header {
    margin-top: 6px;

    .close {
        margin-left: 95%;
        cursor: pointer;
    }

    h2 {
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 150%;
        letter-spacing: -0.019em;
        color: #3C3D3C;
        margin-bottom: 12px;
        margin-top: -20px;
    }

    p {
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 18px;
        color: #8E94A6;
        margin-bottom: 32px;
    }
}

.modal-form {

    width: 100%;

    .form-controls {
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;

        label {
            margin-bottom: 6px;
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 20px;
            color: #585958;
        }

        input {
            padding: 1rem;
            background: #FFFFFF;
            border: 1px solid #D6D6D6;
            box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
            border-radius: 8px;
            outline: none;
        }
    }

    .btn {
        width: 100%;
        background: #EB5B28;
        box-shadow: 0px 8px 16px rgba(0, 30, 84, 0.16);
        border-radius: 8px;
        padding: 15px 151.5px;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        text-align: center;
        letter-spacing: -0.019em;
        color: #FFFFFF;
        border: none;
        cursor: pointer;
        margin-bottom: 32px;

        &:hover {
            opacity: 0.8;
        }
    }
}

.others {
    p {
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 24px;
        color: #344054;
        margin-bottom: 65px;

        span {
            color: #EB5B28;
            cursor: pointer;
        }
    }
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    img {
        margin-bottom: 20px;
        width: 30%;
    }

    p {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        color: #667085;
        margin-bottom: 32px;
    }

    .btn {
        width: 100%;
        background: #EB5B28;
        box-shadow: 0px 8px 16px rgba(0, 30, 84, 0.16);
        border-radius: 8px;
        padding: 10px 89px;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        text-align: center;
        letter-spacing: -0.019em;
        color: #FFFFFF;
        border: none;
        cursor: pointer;
        margin-bottom: 32px;

        &:hover {
            opacity: 0.8;
        }
    }
}

.error-msgs {
    margin-top: 6px;
    display: flex;
    flex-direction: column;
    gap: 6px;

    span {
        color: red;
    }
}
