.chat {
    padding: 20px 0px;
    display: flex;
    width: 100%;
    height: 75vh;
    background-color: #fbfcfd;

    .conversations {
        width: 20%;
        height: 115%;
        overflow-y: scroll;
        padding-right: 32px;
        padding-left: 32px;
        border-right: 1px #e3e4e6 solid;
    }

    .chat-details {
        width: 80%;
        height: 100%;
        overflow-y: scroll;
    }
}

.text-box {
    box-shadow: 2px 2px 30px rgba(185, 135, 27, 0.8);
    border: 1px #eb784e solid;
    position: absolute;
    left: 40%;
    bottom: -8%;
    // margin: auto;
    padding: 10px 20px;
    border-radius: 10px;
    width: 40%;

    form {

        display: flex;
        align-items: center;
    }

    input {
        border: none;
        outline: none;
        width: 100%;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
    }

    img {
        cursor: pointer;
        border-radius: 50%;
        width: 32px;
        height: 32px;
        background-color: rgb(155, 154, 154);
        padding: 5px;
    }

    img.valid {
        background-color: #EB5B28;
        
    }
}
